.user-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .user-comments-dropdown {
    width: 200px;
    position: relative;
  }

  a {
    width: 100%;
    text-decoration: none;
  }
}
